@import 'bootstrap';

/* VARIABILI COLORI DI BRAND */

:root {
  font-size: 1.1rem;
  --my-color-brand: #c45e1f;
  --my-color-light-brand: #ffc800;
  --my-color-cool: #633495;
  --my-color-trasp-cool: #633495b5;
  --my-color-white: #F3F7F0;
  --my-color-dark: #22262A;
  --my-color-light-yellow: #f2e8af;
}

.brand-bg {
  background-color: var(--my-color-brand);
}
.brand {
  color: var(--my-color-brand);
}
.brand-light-bg {
  background-color: var(--my-color-light-brand);
}
.white-brand-bg {
  background-color: var(--my-color-white);
}
.brand-cool-bg {
  background-color: var(--my-color-cool);
}
.brand-l-yellow-bg{
  background-color: var(--my-color-light-yellow);
}
.brand-trasp-cool-bg {
  background-color: var(--my-color-trasp-cool);
}
.brand-white {
  color: var(--my-color-white);
}
.brand-white-bg {
  background-color: var(--my-color-white);
}
.brand-light {
  color: var(--my-color-light-brand);
}
.brand-dark {
  color: var(--my-color-dark);
}
.brand-dark-bg {
  background-color: var(--my-color-dark);
}
.brand-cool {
  color: var(--my-color-cool);
}


/* HEADER */

.masterhero{
  max-height: 100% !important;
}

.masthead{
    
  min-height: 400px;
  background-image: url('/public/img/steve-johnson-JUKWHtY4tMM-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--my-color-white);
    
}

.masthead .row:first-child, .brand-top {
  padding-top:79px;
}

p {
    letter-spacing: 0.0625em;
    line-height: 1.3;
}

h1 {
    letter-spacing: 0.0625em;
}

.shrink {
  background-color: #22262ab1 !important;
}

.button:hover, .btn:hover {
  background-color: var(--my-color-brand);
}

a{
  text-decoration: none;
  color: var(--my-color-white);
}

a:hover, .btn:hover{
  color: var(--my-color-white);
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--my-color-dark);
  }
  #mainNav .navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 700;
  }
  #mainNav .navbar-brand {
    color: var(--my-color-light-brand);
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
  }
  #mainNav .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    color: var(--my-color-white);
    letter-spacing: 0.0625em;
  }
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: var(--my-color-light-brand);
  }
  
  @media (min-width: 992px) {
    .masthead .row:first-child, .brand-top{
      padding-top:103px !important;
    }
    #mainNav {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border: none;
      background-color: transparent;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      font-size: 1.5em;
      transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
      height: 2rem;
      transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: var(--my-color-dark);
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
    #mainNav.navbar-shrink .navbar-brand img {
      height: 1.5rem;
    }
    #mainNav .navbar-nav .nav-item {
      margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
      margin-right: 0;
    }
    
    
}


/* CARD */

.card{
  border: var(--my-color-light-yellow);
  overflow: hidden;
  /* -webkit-box-shadow: 0px 2px 3px 2px rgba(138,138,138,0.56); 
  box-shadow: 0px 2px 3px 2px rgba(138,138,138,0.56); */
}

.card-body{
  background-color: var(--my-color-light-yellow) !important;
}

.c-header img {
  transition: all 0.3s;
}

.c-header:hover img {
  transform: scale(1.1);
}

.c-header {
  position: relative;
}

.c-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
}

.card-footer {
  border-top: var(--my-color-cool) 1px dashed;
}

.card-footer .col-6:first-child {
  border-right: var(--my-color-cool) 1px dashed;
}

.price{
  font-weight: bolder;
  font-size: 20px;
}
.z-ind {
  z-index: 5;
}

.link-announcement{
  text-decoration: none;
  color: var(--my-color-brand)
}

.link-announcement:hover{
  color: var(--my-color-cool)
}

.ann-show {
  height: 100vh;
}

.ann-detail {
  margin-top: 10%;
}

.not-overlapping{
  margin-top: 5%;
  margin-bottom: 5%;
}

.ann-container{
  width: 90%;
  background-color: var(--my-color-light-yellow);
}

