@import 'bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';


/*Per installare la libreria icone delle bandiere eseguire da terminale:
npm install flag-icons */
@import "/node_modules/flag-icons/css/flag-icons.min.css";



/* COMANDO DA LANCIARE NEL TERMINALE: npm i bootstrap-icons */


/* @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* VARIABILI COLORI DI BRAND */

:root {
  font-size: 1.1rem;
  --my-color-brand: #625bc0;
  --my-color-light-brand: #ff7926;
  --my-color-cool: #0f077e;
  --my-color-trasp-cool: #2f288ab5;
  --my-color-white: #F3F7F0;
  --my-color-dark: #22262A;
  --my-color-light-yellow: #f5ebd5;
  --my-color-trasp: #ffffff00;
  background-color:  #625bc0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}



.brand-bg {
  background-color: var(--my-color-brand);
}
.brand {
  color: var(--my-color-brand);
}

.white-brand-bg {
  background-color: var(--my-color-white);
}

.brand-grey {
  color: var(--my-color-light-yellow);
}

.brand-grey-bg {
  background-color: var(--my-color-light-yellow);
}
.brand-trasp-cool {
  color: var(--my-color-trasp-cool);
}
.brand-trasp-cool-bg {
  background-color: var(--my-color-trasp-cool);
}
.brand-white {
  color: var(--my-color-white);
}
.brand-white-bg {
  background-color: var(--my-color-white);
}
.brand-light {
  color: var(--my-color-light-brand);
}
.brand-light-bg {
  background-color: var(--my-color-light-brand);
}
.brand-dark {
  color: var(--my-color-dark);
}
.brand-dark-bg {
  background-color: var(--my-color-dark);
}
.brand-cool {
  color: var(--my-color-cool);
}

.brand-cool-bg {
  background-color: var(--my-color-cool);
}

.brand-alpha {
  background-color: var(--my-color-trasp);
}


/* FONT, button, link */
*{
  font-family: 'Montserrat', sans-serif !important;
}

p {
  letter-spacing: 0.0625em;
  line-height: 1.3;
}

h1 {
  letter-spacing: 0.0625em;
  font-weight: 700;

}

.shrink {
background-color: var(--my-color-trasp-cool) !important;
}

.button:hover, .btn:hover {
background-color: var(--my-color-brand);
}

a{
text-decoration: none;
color: var(--my-color-grey);
}

a:hover, .btn:hover, button:hover{
color: var(--my-color-light-yellow) !important;
}



/* HEADER */

.masterhero{
  max-height: 100% !important;
}
.masthead h1 {
    margin-top: 90px !important;
}

.masthead{

    min-height: 400px;
    background-image: url('/public/img/steve-johnson-JUKWHtY4tMM-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--my-color-white);

}

.masthead .row:first-child, .brand-top {
  padding-top:79px;
}

  /* NAVBAR */



#mainNav {
    z-index: 100;
    position: fixed;
    top: 59px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--my-color-cool);
  }
  #mainNav .navbar-toggler {
    padding: 0.75rem;
    font-size: 0.75rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-transform: uppercase;
    font-weight: 700;
  }
  #mainNav .navbar-brand {
    color: var(--my-color-light-yellow);
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
  }
  #mainNav .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.95rem;
    color: var(--my-color-white);
    letter-spacing: 0.0625em;
  }
  #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: var(--my-color-light-brand);
  }
  @media(min-width: 800px){
    .masthead h1 {
      margin-top: 10px !important;
  }
  }
  .create{
    margin-top: 100px !important;
  }


  @media (min-width: 992px) {
    .masthead .row:first-child, .brand-top{
      padding-top:103px !important;

    }

    #mainNav {
      top: 59px !important;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border: none;
      background-color: transparent;
      transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
      font-size: 1.5em;
      transition: font-size 0.3s ease-in-out;
    }
    #mainNav .navbar-brand img {
      height: 2rem;
      transition: height 0.3s ease-in-out;
    }
    #mainNav.navbar-shrink {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: var(--my-color-cool);
    }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.25em;
    }
    #mainNav.navbar-shrink .navbar-brand svg,
    #mainNav.navbar-shrink .navbar-brand img {
      height: 1.5rem;
    }
    #mainNav .navbar-nav .nav-item {
      margin-right: 1rem;
    }
    #mainNav .navbar-nav .nav-item:last-child {
      margin-right: 0;
    }


}


/* CARD */

.card{
  border: var(--my-color-light-yellow);
  overflow: hidden;
  /* -webkit-box-shadow: 0px 2px 3px 2px rgba(138,138,138,0.56);
  box-shadow: 0px 2px 3px 2px rgba(138,138,138,0.56); */
}



.c-header img {
  transition: all 0.3s;
  object-fit: scale-down;
  width: 15rem;
  height: 15rem;
}

.c-header:hover img {
  transform: scale(1.1);
}

.c-header {
  position: relative;
}

.c-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
}

.card-body-text {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  aspect-ratio: 1;
  width: 300px;
  opacity: 0;
}
.welcome-cards .card-body{
  background-color: var(--my-color-brand);
}

.index-cards .card-body{
  background-color: var(--my-color-white);
}

@keyframes cardtext {
  from {opacity: 0;}
  to {opacity: 1;}
}

.card-body-text:hover {
  opacity: 1;
  animation-name: cardtext;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.card-footer {
  border-top: var(--my-color-cool) 1px dashed;
}

.card-footer .col-6:first-child {
  border-right: var(--my-color-cool) 1px dashed;
}

.price{
  font-weight: bolder;
  font-size: 20px;
}
.z-ind {
  z-index: 5;
}

.card-body-text h4{
  margin-top: 25% !important;
}

.link-announcement:hover{
  color: var(--my-color-white);
  font-size: 0.7em;
}
.link-announcement{
  color: var(--my-color-white);
  font-size: 0.7em;
}

.ann-show {
  height: 100vh;
}

.ann-detail {
  margin-top: 10%;
}

.not-overlapping{
  margin-top: 5%;
  margin-bottom: 5%;
}

.ann-container{
  width: 90%;
}

.brand-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 65vh;
  align-items: around;


}

.brand-header h1 {
  margin-top: 150px !important;
}



.category-header {
  background-image: url('/public/img/rodion-kutsaiev-PEm_sLmJT-w-unsplash.jpg');

}

.wip-header {
  background-image: url('/public/img/karim-manjra-dtSCKE9-8cI-unsplash.jpg');

}
.verify-header {
  /* background-image: url('/public/img/karim-manjra-dtSCKE9-8cI-unsplash.jpg'); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  min-height: 90vh;
}

.index-header {
  background-image: url('/public/img/pexels-magda-ehlers-1279813.jpg');
  background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.welcome-search .search-bar {
  margin-top: -70px;
}

@media (max-width: 720px) {
  .welcome-search .search-bar {
    margin-top: -50px;
  }

}


/* LAVORA CON NOI */

.img-work{
  height: 60rem;
  margin-top: 6.2rem;
  background-image: url('/public/img/high-angle-shot-woman-hands-typing-keyboard-focused-female-student-working-her-homework-computer-making-notes-waiting-important-call-from-boss-glancing-smartphone.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-work{
  background-color: var(--my-color-light-yellow);
  height: 60rem;
  margin-top: 6.2rem;
}

.form-work{
  width: 60%;
  margin: auto;
}

.success-box svg{
  width: 20px;
  padding-bottom: 5.5rem;
}

.container-success{
  padding-top: 7.5rem;
}

@media (max-width: 992px) {
  .img-work{
    display: none;
  }

  .container-work{
    width: 90%;
    margin-left: 1.6rem;
  }

}

@media (max-width: 475px) {
  .form-work{
    width: 90%;
  }

  .container-work{
    margin-left: 1.1rem;
  }

}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    background: var(--my-color-dark);
    border-radius: 50%;
    position: relative; }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 20px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .ftco-footer-social li a::hover {
      color: var(--my-color-light-brand) !important; }


.ftco-section {
  padding: 12em 0; }
  .ftco-section h2 {
    margin-bottom: 0; }

footer {
  padding: 7em 0; }

.footer-10 {
  background: var(--my-color-dark);
  padding: 0 0 4em 0; }

  .footer-10 .con-info .icon {
    width: 50px;
    height: 50px;
    background: var(--my-color-light-brand);
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px; }
    .footer-10 .con-info .icon span {
      color: var(--my-color-white);
      font-size: 24px; }
  .footer-10 .con-info span {
    color: var(--my-color-light-yellow); }
  .footer-10 .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0; }


      .footer-10 .subscribe-form .form-group input:focus {
        outline: none !important;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .footer-10 .subscribe-form .form-group .submit {
      color: #fff !important;
      display: block;
      width: 130px;
      height: 52px;
      font-size: 16px;
      background: #1089ff !important;
      border: none;
      border-radius: 0; }
      .footer-10 .subscribe-form .form-group .submit:hover, .footer-10 .subscribe-form .form-group .submit:focus {
        text-decoration: none !important;
        outline: none !important; }
  .footer-10 .subscribe-form .subheading {
    display: inline-block;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 13px; }


    .footer-heading, .list-unstyled li  {
      color: var(--my-color-light-yellow);
    }

    .list-unstyled li a:hover  {
      color: var(--my-color-light-brand);
    }


/* ZONA REVISORE */
.revisor-header {
  background-image: url('/public/img/sand-surface-texture-background-zen-peace-concept.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.revisor-2-header {
  background-image: url('/public/img/abstract-bluish-paint-background-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-revisor{
  background-image: url('/public/img/light-bulb-made-from-yellow-paper-ball.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-revisor{
  height: 50rem;
}

.col-revisor{
  margin-top: 12.5rem;
}

.col-revisor h1{
  font-size: 4rem;
}

.button-revisor{
  width: 8rem;
  margin: auto;
}

@media (max-width: 992px) {
  .img-revisor{
    display: none;
  }

  .col-revisor{
    width: 90%;
    margin: auto;
  }

  .col-revisor h1{
    font-size: 2rem;
    margin-left: 1.6rem;
  }

  .col-revisor .row{
    width: 90%;
  }

  .button-revisor{
    max-width: 8rem;
  }
}



.image-preview{
  width: 150px;
  aspect-ratio: 1;
  background-size: cover;
  position:relative;
}

.img-carousel{
  width: 500px;
  height: 300px;
  object-fit: scale-down;
  object-position: center;
}


.remove {
  position: absolute;
  top: 5px;
  right: 5px;
}
.remove:hover {
  background-color: var(--my-color-white);
  color: var(--my-color-dark);
}

.preview-box > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.preview-box > .row > .image-preview {
  display: inline-block;
}
